%font(size="-2")
  %table.table.table-striped.table-condensed.table-hover
    %thead
      %tr
        %td id
        %td created_at
        %td token
        %td user_id
        %td user_agent
        %td utm_medium
        %td utm_campaign
        %td utm_term
        %td placement

    %tbody
      -events.each do |event|
        %tr
          %td(title="#{event.url}")= event.id
          %td= event.created_at.to_formatted_s(:ymd)
          %td
            %font(size="-3")
              = event.token
          %td= event.user_id
          %td(title="#{event.user_agent}")= Visit::EventDecorator.new(event).user_agent_family
          %td= event.utm_campaign
          %td= event.utm_term
          %td= event.placement



